.header{
    height: 80px;
    background-color: yellowgreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.header a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    margin-left: 36px;
}
.header a:hover{
    color: tomato;
}
#logo{
    width: 6%;
}
@media screen and (max-width:640px) {
    #logo{
        width: 20%;
        margin-left: -110px;
    }
    .header{
        height: 60px;
    }
    .header a{
        font-size: 14px;
        margin-left: 26px;
    }
    
}